@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,900&display=swap');

:root{
    --background-color: #333;
    --text-light-color: #eee;
    --nav-background-color: white;
    --container-background-color: #eee;
    --border-color: #333;
    --title-font: 'Permanent Marker', cursive;
    --text-font: 'Poppins', sans-serif;


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-family: var(--text-font);
    font-size: 1.2em;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px auto;

    height: 100vh;
}

header{
    grid-area: 1 / 1 / 1 / 2;

    display: grid;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
    height: 120px;
    background-color: var(--background-color);
}

#title{
    font-family: var(--title-font);
    color: var(--text-light-color);
    font-size: 2em;
}

main{
    grid-area: 2 / 1 / 3 / 1;

    display: grid;   
    grid-template-columns: 1fr 500px 1fr;
    grid-template-rows: 1fr 70px 500px 1fr;
    border: solid 1px;
}

nav{
    grid-area: 2 / 2 / 3 / 3;

    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px 0 10px;

    background-color: var(--nav-background-color);
}

#grid-container{
    grid-area: 3 / 2 / 4/ 3;
    background-color: var(--container-background-color);
    border: solid 2px var(--background-color);

    font-family: var(--title-font);
}

button{
    border: 0;
    width: 90px;
    height: 35px;
    border-radius: 10px;
    color: var(--text-light-color);
    background-color: var(--background-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 1em;
}

button:hover{
    border: 0;
    width: 90px;
    height: 35px;
    border-radius: 10px;
    color: var(--background-color);
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 1em;
    border: solid 2px var(--background-color);
    cursor: pointer;
}